% -*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, [{cowboy, ">= 2.9.0"}]}.

{project_plugins, [
    erlfmt
]}.

{profiles, [
    {test, [
        {deps, [
            {gun, "2.0.1"},
            {jsx, "3.1.0"}
        ]}
    ]}
]}.

{erlfmt, [
    write,
    {files, [
        "{src,include,test}/*.{hrl,erl}",
        "src/*.app.src",
        "rebar.config"
    ]}
]}.
